.DS_Store
node_modules
.worktrees
.sst
.env
.idea
.vscode
*~
playground
tmp
dist
ts-dist
.turbo
**/.serena
.serena/
/result
refs
Session.vim
opencode.json
a.out
target
.scripts

# Local dev files
opencode-dev
logs/
packages/

.bun-cache
opencode-test-*
.bun-cache/**
typescript-*
.78fe3ffffef6ffff-00000000.hm
.ddab77afaeee1ecd-00000000.hm
